/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("imgs/Fundo do Site.jpg") center/cover no-repeat fixed;
  font-family: Arial, sans-serif;
  color: #fff;;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.quiz-container {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  max-width: 600px;
  width: 100%;
}

h1 {
  border-radius: 12px;
  background-color: #ee4c5e;
  text-align: center;
  margin-bottom: 30px;
  color: white; 
  text-shadow: 1px 1px 2px #2e2a2b;
}

ol {
  list-style-position: inside;
  margin-bottom: 20px;
}

li {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1.1rem;
}

li ul {
  list-style: none;
  margin-top: 8px;
}

li ul li {
  margin-bottom: 8px;
  font-weight: normal;
}

input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.1);
  cursor: pointer;
}

label {
  cursor: pointer;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #ee4c5e;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.7s ease;
  text-shadow: 1px 1px 2px #2e2a2b;
}

button:hover {
  background-color: #d4394e;
}

.modal {
  display: none; /* Escondido */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 25px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  font-size: 1.2rem;
  color: #333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
}

#scoreText {
  margin-top: 15px;
}